@font-face {
  font-family: 'Century Gothic';
  src: url('../font/CenturyGothic.eot');
  src: url('../font/CenturyGothic.eot?#iefix') format('embedded-opentype'),
  url('../font/CenturyGothic.woff') format('woff'),
  url('../font/CenturyGothic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Century Gothic Bold';
  src: url('../font/CenturyGothic-Bold.eot');
  src: url('../font/CenturyGothic-Bold.eot?#iefix') format('embedded-opentype'),
  url('../font/CenturyGothic-Bold.woff') format('woff'),
  url('../font/CenturyGothic-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Rubik Regular';
  src: url('../font/Rubik-Regular.eot');
  src: url('../font/Rubik-Regular.eot?#iefix') format('embedded-opentype'),
  url('../font/Rubik-Regular.woff') format('woff'),
  url('../font/Rubik-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu';
  src: url('../font/Ubuntu-Regular.eot');
  src: url('../font/Ubuntu-Regular.eot?#iefix') format('embedded-opentype'),
  url('../font/Ubuntu-Regular.woff') format('woff'),
  url('../font/Ubuntu-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  background: url("../img/logo-bg.svg") no-repeat left 5%, url("../img/logo-bg.svg") no-repeat left 50%, #e6e6e6;
  background-size: 35% auto;
}

.contact-top {
  margin-top: 10px;
  border-style: solid;
  border-width: 2px;
  border-image-source: linear-gradient(320deg, #b3b3b3, rgba(0, 0, 0, 0) 65%);
  border-image-slice: 1;
  border-right: none;
}

.phone {
  font-family: 'Century Gothic Bold', sans-serif;
  color: #900;
  font-size: 16px;
  line-height: 1em;
  @media (min-width: 1200px) {
    font-size: 32px;
  }

  &__size-big {
    font-size: 32px;
    line-height: 1em;
    @media (min-width: 1200px) {
      font-size: 70px;
    }
  }
}

.email {
  font-family: 'Century Gothic Bold', sans-serif;
  color: #135408;
  font-size: 12px;
  @media (min-width: 1200px) {
    font-size: 24px;
  }

  &__size-big {
    line-height: 1em;
    font-size: 24px;
    @media (min-width: 1200px) {
      font-size: 44px;
    }
  }
}

.company-name {
  margin-top: 10px;
  font-family: 'Rubik Regular', sans-serif;
}

.company-name .col-3 {
  padding-right: 0;
  @media (min-width: 1200px) {
    padding-right: 15px;
  }
}

.company-name__first-part {
  color: #900;
  font-size: 29px;
  margin-bottom: 0;
  @media (min-width: 1200px) {
    font-size: 79px;
  }
}

.company-name__second_part {
  margin-bottom: 0;
  color: #092905;
  font-size: 15px;
  @media (min-width: 1200px) {
    font-size: 40px;
  }
}

.info-block {
  background-color: white;
  border-radius: 25px;
  padding: 15px 10px;
  @media (min-width: 1200px) {
    padding: 35px 25px;
  }
}

.info-block_header {
  font-size: 22px;
  color: #900;
  border-style: solid;
  border-width: 2px;
  border-image-source: linear-gradient(90deg, rgba(0, 0, 0, 0), #b3b3b3 50%, rgba(0, 0, 0, 0));
  border-image-slice: 1;
  padding: 5px 0;
  margin-bottom: 10px;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0), #e6e6e6 50%, rgba(0, 0, 0, 0)), url("../img/header-arrows.png") left top no-repeat, url("../img/header-arrows-inverse.png") right top no-repeat;
  background-size: auto 100%;
  font-family: 'Rubik Regular', sans-serif;
  @media (min-width: 1200px) {
    font-size: 64px;
  }
}

.info-block_header__green {
  color: #0D3608;
}

.info-block_input,
.select2-container--default .select2-selection--single {
  border-radius: 15px;
  font-size: 20px;
  border: #900 2px solid;
  font-family: 'Rubik Regular', sans-serif;
  @media (min-width: 1200px) {
    font-size: 64px;
    border-radius: 30px;
    border-width: 4px;
  }
}

.services {
  padding: 15px;
  border: 4px solid #4d4d4d;
  border-radius: 20px;
  @media (min-width: 1200px) {
    padding: 30px;
  }
}

.services_service {
  font-size: 12px;
  font-family: 'Century Gothic', sans-serif;
  @media (min-width: 1200px) {
    font-size: 48px;
  }
}

.services_legend {
  margin-top: -30px;
}

.header-lev2 {
  font-size: 22px;
  color: #900;
  font-family: 'Rubik Regular', sans-serif;
  @media (min-width: 1200px) {
    font-size: 64px;
    margin-top: -70px;
  }
}

.header-lev2__bg {
  padding: 0 5px;
  display: inline-block;
  background-color: #e6e6e6;
}

.vagon-name {
  font-size: 13px;
  color: #333;
  font-family: 'Ubuntu', sans-serif;
  @media (min-width: 1200px) {
    font-size: 38px;
  }

  &__red {
    color: #900;
  }

  &__green {
    color: #0d3708;
  }

  &__dark-green {
    color: #092905;
  }
}

.white-grad-bg {
  background: linear-gradient(90deg, rgba(0, 0, 0, 0), #fff 50%, rgba(0, 0, 0, 0));
}

.vagon-line {
  height: 40px;
  background: url("../img/vagon-line.png") left top no-repeat;
  background-size: 100% auto;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 100%;
  margin-right: 10px;
}

.select2-container .select2-selection--single {
  height: auto;
  padding: 10px 10px;
  text-align: center;
}

.select2-dropdown {
  border: #900 2px solid;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 110%;
}