<template>
    <div>
        <form @submit.prevent="send">
            <Select2 :dataSource="'/calculator/stations/'" :label="'Станция отправления'"
                     :name="'pointOfDeparture'" v-model="request.departureStation" :minLength="2"></Select2>
            <Select2 :dataSource="'/calculator/stations/'" :label="'Станция назначения'"
                     :name="'pointOfDestination'" v-model="request.destinationStation" :minLength="2"></Select2>
            <Select2 :dataSource="'/calculator/cargoes/'" :label="'Что везем?'" :name="'typeOfCargo'"
                     v-model="request.cargo" :minLength="2"></Select2>
            <Select2 :dataSource="'/calculator/carriages/'" :label="'Вид подвижного состава'" :name="'typeOfCarriage'"
                     v-model="request.carriage" :minLength="0"></Select2>
            <button type="submit" class="btn btn-primary btn-block">Расчитать</button>
        </form>
    </div>
</template>

<script>
    import Select2 from './Select2.vue';

    export default {
        components: {Select2},
        data() {
            return {
                request: {
                    departureStation: '',
                    destinationStation: '',
                    carriage: '',
                    cargo: ''
                }
            }
        },
        methods: {
            send() {
                axios
                    .post('/calculator/calculate', this.request)
                    .catch(error => {
                        console.log(error.response.data);
                    })
                    .then(({data}) => {
                        console.log(data);
                    })
                // this.editing = false;
                // flash('Updated!');
            },
        }
    }
</script>
