<template>
    <div class="form-group mt-lg-5">
        <select :name="name" :id="name" class="form-control"></select>
    </div>
</template>

<script>
    export default {
        props: ['label', 'dataSource', 'name', 'minLength'],
        mounted() {
            $('[name=' + this.name + ']')
                .select2({
                    language: {
                        errorLoading () {
                            return "Невозможно загрузить результаты"
                        }, inputTooLong (e) {
                            var r = e.input.length - e.maximum, u = "Пожалуйста, введите на " + r + " символа";
                            return u;
                        }, inputTooShort (e) {
                            var r = e.minimum - e.input.length, u = "Пожалуйста, введите ещё хотя бы " + r + " символа";
                            return u;
                        }, loadingMore () {
                            return "Загрузка данных…"
                        }, maximumSelected (e) {
                            var r = "Вы можете выбрать не более " + e.maximum + " элемента";
                            return r;
                        }, noResults () {
                            return "Совпадений не найдено"
                        }, searching () {
                            return "Поиск…"
                        }, removeAllItems () {
                            return "Удалить все элементы"
                        }
                    },
                    placeholder: this.label,
                    ajax: {
                        url: (params) => {
                            return this.dataSource + (params.term ? params.term : '');
                        },
                        data: {},
                        dataType: 'json',
                        processResults: function (data) {
                            return {
                                results: data.data
                            };
                        }
                    },
                    minimumInputLength: this.minLength
                })
                .on('select2:select', (e) => {
                    this.$emit('input', e.params.data.id);
                });

        },
        methods: {
            n(n, e, r, u) {
                return n % 10 < 5 && n % 10 > 0 && n % 100 < 5 || n % 100 > 20 ? n % 10 > 1 ? r : e : u
            }
        }
    }
</script>
